 {% include 'base.html.twig' %}
        <header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Nicolas Ruiz</h1>
                            <span class="subheading">Développeur web</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
        <center><h3>Contactez-moi!</h3></center><br />

                                        <form id="login" method="POST" action="http://localhost/OCR-P5-Blog/contact_confirm">
                                <div class="form-floating">
                                    <input class="form-control" id="nom" name="nom" type="text" placeholder="Nom" required />
                                    <label for="nom">Nom</label>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="prenom" name="prenom" type="text" placeholder="Prénom" required />
                                    <label for="prenom">Prénom</label>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="email" name="email" type="text" placeholder="email" required />
                                    <label for="email">Email</label>
                                </div>
                                <div class="form-floating">
                                    <textarea class="form-control" id="message" name="message" placeholder="Votre message" style="height: 12rem" required></textarea>
                                    <label for="message">Votre message</label>
                                </div>
                                <br />

                                <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Envoyer</button>
                            </form>

        </div>
{% include 'footer.html.twig' %}