 {% include 'base.html.twig' %}       
        
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/contact-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Inscription </h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="my-5">
                            <form id="login" method="POST" action="http://localhost/OCR-P5-Blog/register_confirm">
                                <div class="form-floating">
                                    <input class="form-control" id="nom" name="nom" type="text" placeholder="Nom" required />
                                    <label for="titre">Nom</label>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="prenom" name="prenom" type="text" placeholder="Prenom" required />
                                    <label for="titre">Prénom</label>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="identifiant" name="identifiant" type="text" placeholder="Identifiant" required />
                                    <label for="identifiant">Identifiant</label>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="email" name="email" type="text" placeholder="Email" required />
                                    <label for="email">Email</label>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="motdepasse" name="motdepasse" type="password" placeholder="Mot de passe" required />
                                    <label for="motdepasse">Mot de passe</label>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="motdepasseconf" name="motdepasseconf" type="password" placeholder="Confirmation du mot de passe" required />
                                    <label for="motdepasseconf">Confirmation du mot de passe</label>
                                </div>
                                <br />
                                

                                <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">S'inscrire</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>

{% include 'footer.html.twig' %}